= form_with model: [@task.project,@task],local: true, class: 'form-horizontal' do |form|
  %div{:class => 'form-group'}
    = form.label :title, class: 'col-sm-1 control-label'
    %div{:class => 'col-xs-2'}
      = form.text_field :title, class: 'form-control', :placeholder => 'Title', :size => 10
  %div{:class => 'form-group'}
    = form.label :description, class: 'col-sm-1 control-label'
    %div{:class => 'col-xs-4'}
      = form.text_area :description, class: 'form-control', :placeholder => 'description', :rows => 3
  %div{:class => 'form-group'}
    = form.label :start_at, class: 'col-sm-1 control-label'
    %div{:class => 'col-xs-2'}
      = form.date_field :start_at, class: 'form-control'
  %div{:class => 'form-group'}
    = form.label :end_at, class: 'col-sm-1 control-label'
    %div{:class => 'col-xs-2'}
      = form.date_field :end_at, class: 'form-control'

  %div{:class => 'form-group'}
    = form.label :file_attachment, class: 'col-sm-1 control-label'
    %div{:class => 'col-xs-2'}
      - @task.attach_files.each do |f|
        = link_to f.filename, rails_blob_path(f)
        = link_to 'remove', delete_attached_file_project_task_path(:file_id => f.id), method: :delete, data: { confirm: 'Are you sure?' }
      = form.file_field :attach_files
  - if @task.persisted?
    %div{:class => 'form-group'}
      = form.label :state, class: 'col-sm-1 control-label'
      %div{:class => 'col-xs-2'}
        - state_list = [['未着手',1],['仕掛り中',2],['完了',3]]
        = form.select 'state', options_for_select(state_list,@task.state.to_i)
  = form.submit class: 'btn btn-primary btn-xs'

%span
- if @task.persisted?
  %br
  = link_to 'Delete', project_task_path(@task.project, @task), :data => {:confirm => 'Do you really want to delete?'}, :method => :delete

%br
%br
- if @task.persisted?
  = link_to 'back' , project_task_path(@task)
- else
  = link_to 'back' , project_path(@task.project)