%h1 Detail task.
%div{:class => 'row'}
  %div{:class => 'col-xs-1 label label-primary'}
    = t('labels.tasks.title')
  %div{:class => 'col-xs-2'}
    = @task.title
%div{:class => 'row'}
  %div{:class => 'col-xs-1 label label-primary'}
    = t('labels.tasks.description')
  %div{:class => 'col-xs-2'}
    = @task.description
%div{:class => 'row'}
  %div{:class => 'col-xs-1 label label-primary'}
    = t('labels.tasks.start_on')
  %div{:class => 'col-xs-2'}
    = @task.start_on.to_date
%div{:class => 'row'}
  %div{:class => 'col-xs-1 label label-primary'}
    = t('labels.tasks.end_on')
  %div{:class => 'col-xs-2'}
    = @task.end_on.to_date
%div{:class => 'row'}
  %div{:class => 'col-xs-1 label label-primary'}
    = t('labels.tasks.state')
  %div{:class => 'col-xs-2'}
    = @task.state_name

= link_to 'edit task', edit_project_task_path(@task.project, @task)