= form_with model: @project,local: true, class: 'form-inline' do |form|
  %div{:class => "input-group  input-group-sm"}
    = form.label :name, class: "input-group-addon"
    = form.text_field :name, class: "form-control"
  %br
  %br
  = form.submit class: 'btn btn-primary btn-xs'

- if @project.persisted?
  %br
  = link_to 'Delete', project_path(@project), :data => {:confirm => 'Do you really want to delete?'}, :method => :delete