%h1 Detail project & tasks
%h2 Project
%div{:class => 'row'}
  %div{:class => 'col-xs-1 label label-primary'}
    = t('labels.projects.name')
  %div{:class => 'col-xs-1'}
    = @project.name
  = link_to 'edit', edit_project_path(@project)

%hr

%h2 Tasks
= link_to 'Add task', new_project_task_path(@project),  class: "btn btn-primary btn-xs"

%br

%table{:class => 'table'}
  %thead
    %tr
      %th= t('labels.tasks.title')
      %th= t('labels.tasks.descritpion')
      %th= t('labels.tasks.start_at')
      %th= t('labels.tasks.end_at')
      %th= t('labels.tasks.state')
  %tbody
    -@tasks.each do |t|
      - case t.state.to_i
      - when Task::STATE::INIT then
        - task_state = 'warning'
      - when Task::STATE::PROCESSING then
        - task_state = 'active'
      - when Task::STATE::COMPLETE then
        - task_state = 'success'

      %tr{:class => task_state}
        %td= link_to t.title, project_task_path(@project, t)
        %td= t.description
        %td= t.start_at.to_date
        %td= t.end_at.to_date
        %td= t.state_name